@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Orchidea Pro Medium';
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@font-face {
  font-family: 'Orchidea Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Orchidea Pro Medium'), url('Mint Type - Orchidea Pro Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Orchidea Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Orchidea Pro Medium Italic'), url('Mint Type - Orchidea Pro Medium Italic.woff') format('woff');
  }
